<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['..','5e947e7e4938265112b0a6b6']" routerLinkActive="active">
            Data set (Theo)
          </a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['..','5e947e7e4938265112b0a6b5']"  routerLinkActive="active">
            Data set (Philip)
          </a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
