<nav>
  <ul>
    <li>
      <a routerLink="occurences/user/5e947e7e4938265112b0a6b6" [class.activated]="currentUrl == 'occurences/user/5e947e7e4938265112b0a6b6'">
        Data set (Theo)
      </a>
    </li>
    <li>
      <a routerLink="occurences/user/5e947e7e4938265112b0a6b5" [class.activated]="currentUrl == 'occurences/user/5e947e7e4938265112b0a6b5'">
        Data set (Philip)
      </a>
    </li>
    <li>
      <a routerLink="occurences/stats-months" [class.activated]="currentUrl == 'occurences/stats-months'">
        Occurrences per Month
      </a>
    </li>
    <li>
      <a routerLink="occurences/stats-years" [class.activated]="currentUrl == 'occurences/stats-years'">
        Occurrences per Year
      </a>
    </li>
    <li>
      <a routerLink="occurences/stats-activity" [class.activated]="currentUrl == 'occurences/stats-activity'">
        Activity per Year
      </a>
    </li>
    <li>
      <a routerLink="occurences/species-list" [class.activated]="currentUrl == 'occurences/species-list'">
        Species List
      </a>
    </li>
  </ul>
</nav>
