<nav>
  <ul>
    <li>
      <a [routerLink]="'stats-months'" routerLinkActive="active">
        Occurrences per Month
      </a>
    </li>
    <li>
      <a [routerLink]="'stats-years'" routerLinkActive="active">
        Occurrences per Year
      </a>
    </li>
    <li>
      <a [routerLink]="'stats-activity'" routerLinkActive="active">
        Activity per Year
      </a>
    </li>
    <li>
      <a [routerLink]="'species-list'" routerLinkActive="active">
        Species List
      </a>
    </li>
  </ul>
</nav>
